@charset "utf-8";

$yellow: hsl(49, 100%, 47%);
$black: #3E332E;
$info: $yellow;
$tabs-link-active-color: $info;
$tabs-toggle-link-active-border-color: $yellow;
$tabs-border-bottom-color: $yellow;
$tabs-toggle-link-border-color: $yellow;
$tabs-boxed-link-active-border-color: $yellow;
$box-shadow: 0 0 0 0 rgba($yellow, 0.1);

@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";
@import "~bulma/sass/elements/button.sass";
@import "~bulma/sass/elements/container.sass";
@import "~bulma/sass/elements/form.sass";
@import "~bulma/sass/elements/title.sass";
@import "~bulma/sass/components/navbar.sass";
@import "~bulma/sass/components/tabs.sass";
@import "~bulma/sass/components/card.sass";
@import "~bulma/sass/grid/_all.sass";
@import "~bulma/sass/layout/section.sass";

@import url('https://fonts.googleapis.com/css?family=Barlow:300,400,500,600,700');

body{
  background: #FAFAFA;
  font-family: 'Barlow', sans-serif;
}

.home{
  background: white;
}

.card{
  box-shadow: $box-shadow;
  img.eventImage{
  border-radius: 3px 3px 0 0;
}
  p:first-child  {
    color: red;
  }
  &:hover{
    transition: all 0.5s ease;
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  }
}

div.slider{
  height: 400px !important
}

//----- Eventshow page -----

.is-horizontal-center {
  justify-content: center;
}

.dir-btn{
  font-size: 0.8rem;
  margin: 2px;
 a {
   text-decoration: none;
   color: grey;
 }
}

.column.events-img-Col{
  padding: 0 0 0 12px;
}

.eventsBox{
  margin: 3rem 0 3rem 0;
  padding: 0;
}

.des-col {
  padding-left: 6rem;
}

.event-top-text {
  padding: 3rem 0 0 12px;
  background-color: #F6F8FA;
  margin-bottom: -12px;
  .content{
    padding-left: 10px;
    span:first-child{
      color: red;
      font-size: 17px;
    }
    span.date{
      font-size: 14px;
    }
  }
  p.subtitle {
    margin: 20px 0 10px 0;
  }
}

p.created {
  font-size: 14px;
}

.mid-text {
  padding-left: 2rem;
  background-color: #F6F8FA;
  margin-bottom: -24px;
  margin-top: -12px;
}

.event-hr{
  margin:0;
}

div.sticky {
  position: sticky;
  top: 0;
  background-color: white;
  font-size: 20px;
  margin: 20px;
}

.events-img-Col{
  margin-bottom: -18px;
}

.more-col-box {
  margin: 4px;
}

.is-outlined {
  margin-top: 12px;
}

.map {
  padding-top: 2rem;
  height: 320px;
  width: 100%;
  margin-top: 30px;
}

.All{
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-size: cover;
}

.custom-marker {
  color: white;
  font-size: 16px;
  font-weight: bold;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-marker:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: orange;
  z-index: -1;
  border-radius: 50% 50% 0 50%;
  transform: rotate(45deg);
}

.column.is-4{
    width: 32.3%;
}

//-------Club Index page ----

.clubFormDiv-1{
  background: #F0C400;
  margin: 5px;
  padding: 20px;
  select{
    background: inherit;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    color: grey;
  }
  input {
    background: inherit;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
  }
}


.clubHero{
  margin: 10px 0 10px 0;
  background: rgb(0, 0, 0);
  border-radius: 4px;
}

.index-span, .index-span-p {
  font-size: 13px;
  color: grey;
}

.wrapper {
    text-align: center;
    max-width: 100%;
}

.parent {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.child {
  width: 100%;
  height:100%;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all .5s;
}

.parent:hover .child,
.parent:focus .child {
  transform: scale(1.2);
}

.child:before {
  content: "";
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

.parent:hover .child:before,
.parent:focus .child:before {
  display: block;
}

p.club-txt {
  display: none;
   font-size: 35px;
   color: #ffffff;
   font-family: sans-serif;
   text-align: center;
   height: 50px;
}

.parent:hover p, .parent:focus p {
    display: block;
}
//-----------Club Show ----------------

.columns{
  >.date-icon{
    background-color: $yellow;
    >h1{
      color: $black;
      text-align: center;
    }
    >h6{
      color: $black;
      text-align: center;
      border-bottom: #eee 2px solid;
      padding-bottom: 10px;

    }
  }
}

.clubBox{
  margin: auto;
  padding: 0;
  background: #F5F5F5;
}

.club-columns {
  >.column{
    padding-top: 30px;
    >h6{
      text-align: center;
    }
    p{
      text-align: center;
    }
    .members-area{
      >.column{
        padding: 0;
        display: flex;
        justify-content: center;
      }
    }
  }
 }

.column{
  .event-card{
    background-color: #eee;
  }
}

.image-cropper {
    width: 100px;
    height: 100px;
    margin: auto;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: $yellow solid 2px;
    >.profile-pic {
      display: inline;
      margin: 0 auto;
      height: 100%;
      width: auto;
    }
}

.image-cropper-club {
    width: 70px;
    height: 70px;
    margin: auto;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: $yellow solid 2px;
    >.profile-pic {
      display: inline;
      margin: 0 auto;
      height: 100%;
      width: auto;
    }
}

.members-area{
  display: flex;
  div{
    margin: 4px;

  }
}

.date-icon{
  background-color: $yellow;
  >h4{
    color: $black;
    text-align: center;
  }
  >h6{
    color: $black;
    text-align: center;
    border-bottom: #eee 2px solid;
    padding-bottom: 10px;

  }
}

.message-area{
  width: 50%;
  height: 300px;
  border: $yellow solid 1px;
  .messages-show{
    height: 250px;
    width: 100%;
    overflow: scroll;
    display: flex;
    flex-direction: column-reverse;;
    >.club-message{
      margin: 30px;
      display: flex;
      align-items: center;
      &.me{
        flex-direction: row-reverse;
      }
      h6.conversation{
        background-color: $yellow;
        display: inline;
        border-radius: 15px;
        padding: 5px;
        margin: 5px;
      }
      h4.user{
        border: solid 2px $yellow;
        display: inline;
        border-radius: 40px;
        min-width: 40px;
        min-height: 40px;
        padding: 5px;
        margin-bottom: 0px;
        display: flex;
        justify-content: center;
        align-items: center;

      }
    }
  }

  .messages-input{
    height: 50px;
    margin-bottom:0;
    display: flex;
    align-items:center;
    justify-content: flex-end;
    form{
      display: flex;
      margin: auto;
      flex-grow: 1;
      input{
        flex-grow: 1;
        border-radius: 15px;
        border: 1px solid #F5F5F4;
        margin: 2px;
        padding-left: 10px;
        outline: none;
      }
      button{
        flex-grow: 0;
        margin: 2px;
      }
    }
  }
}

// User page
.eventColum, .event-show-col, .user-events {
  margin-left: 15px;
}

.user-add-btn{
  display: flex;
  justify-content: center;
  align-items: center;
}

.isImageCircle {
  text-align: center;
  max-height: 200px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
  background: rgba(0,0,0,0.8);
  border-radius: 10px;
  transition: all .2s ease-in-out;
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: $yellow solid 2px;
  .image img{
    height: 100%;
    width: 100%;
    border-radius: 8px;
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
  }
  &:hover {
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.3);
    margin-left: 2px;
  }
}

.isImage {
  text-align: center;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
  background: rgba(0,0,0,0.8);
  border-radius: 10px;
  transition: all .2s ease-in-out;
  .image img{
    height: 100%;
    width: 100%;
    border-radius: 8px;
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
    }
    &:hover {
      box-shadow: 0 4px 5px 0 rgba(0,0,0,0.3);
      margin-left: 2px;
  }
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.text {
  color: white;
  font-weight: 300px;
  padding: 10% 10%;
}

.isImageCircle:hover .clubImage {
  opacity: 0.3;
}

.isImageCircle:hover .middle {
  opacity: 1;
}

.isImage:hover .clubImage {
  opacity: 0.3;
}

.isImage:hover .middle {
  opacity: 1;
}


.add{
  background: #eee;
}

.user-club-img{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 0.5rem;
}

.small-icon{
  max-width: auto;
  max-height: 35px;
}


//-----Loading page ----/

.loader {
  position: relative;
  background: url(assets/images/BeeLogo.png) no-repeat;
  background-position: center;
  border: 14px inset $yellow;
  width: 220px;
  height: 220px;
  margin: 200px auto;
  background-size: 120px;
  animation: spin 4s linear infinite;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);}
}
